:root {
    --clr-bg-dark: #000814;
    --clr-bg-light: #001D3D;
   
    --clr-primary-400: #C5DCFF;
    --clr-primary-200: #C5DCFF90;


    --clr-accent-600: #FFC300;
    --clr-accent-400: #FFC30080;
    --clr-accent-200: #FFC30030;

    --clr-neutral-100: #FFF;
    --clr-neutral-100-30: #FFFFFF30;

    --ff-primary: "Cambay", sans-serif;
    --ff-secundary: "IBM Plex Mono", serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-secundary);
    --ff-button: var(--ff-secundary);
    --ff-nav: var(--ff-secundary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-300: .875rem;  /*14*/
    --fs-400: 1rem;     /*16*/
    --fs-500: 1.125rem; /*18*/
    --fs-600: 1.25rem;  /*20*/
    --fs-700: 1.375rem; /*22*/
    --fs-800: 1.5rem;   /*24*/
    --fs-1000: 2.5rem;  /*40*/

    --fs-body: var(--fs-600);
    --fs-nav: var(--fs-300);
    --fs-heading: var(--fs-800);
    --fs-subheading: var(--fs-700);
    --fs-button: var(--fs-500);
    --fs-phone: var(--fs-400);

    --size-50: .175rem;
    --size-100: .25rem;
    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: 1rem;
    --size-450: 1.05rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3em;
    --size-800: 4rem;
    --size-900: 5rem;

}



/* https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General Styling */

html {
    background-color: var(--clr-bg-dark);
}

body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-primary-200);
}

h1 {
    margin-bottom: var(--size-400);
}

h2 {
    margin-bottom: var(--size-600);
    padding-top: var(--size-700);
}

h3 {
    margin-bottom: var(--size-400);
}

p {
    margin-bottom: var(--size-400);
}

footer {
    padding-block: var(--size-300);
    margin-top: var(--size-700);
}

/* nav */

#primary-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index:10;
    background-color: var(--clr-bg-dark);
    transition: 0.4s;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--size-400);
    margin-inline: auto;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    display: flex;
    align-items: center;
    gap: clamp(var(--size-400), 2.5vw, var(--size-900));      
}

.nav-list {
    display: flex;
    gap: clamp(var(--size-600), 3vw, var(--size-800));
}

.nav-list a {
    text-decoration: none;
    color: var(--clr-neutral-900);
    position: relative;
}

.nav-list a:after {
    content: "";
    width: 0; 
    height: 2px;
    background-color: var(--clr-accent-600);
    position: absolute;
    left: -.75rem;
    top: 1.25rem;
    transition: .35s;
}

.nav-list a:hover:after {
    width: calc(100% + .75rem); 
}

.nav-list ol {
    counter-reset: li;
}

.nav-list li a::before {
    content: "0"counter(li)".";
    color: var(--clr-accent-600);
    display: inline-block;
    width: 1em;
    position: relative;
    left: -12px;
    margin-right: .5rem;
}

.nav-list li {
    counter-increment: li
}

/* hero */

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hero-main {
    align-items: center; 
}

.socials i {
    margin-right: var(--size-400);
    font-size: var(--fs-800);
}

.hero-image img {
    opacity: .8;
}

/* Projects */


.project-item {
    margin-block: var(--size-900);
    padding-block: var(--size-400);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .project-item:nth-child(even){
    text-align: right;
}
.projects .project-item:nth-child(even) .tools{
    text-align: right;
    justify-content: end;

}

.projects .tools {
    display: flex;
    align-items: center;
    color: var(--clr-accent-600);
}

.projects .tools > * {
    margin-left: var(--size-300);
}

.project-img img {
    border-radius: 10px;
}

.project-img {
    margin-inline: var(--size-500);
    position: relative;
    float: left;
    cursor: pointer; 
}

.project-img:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--clr-bg-light);
    opacity: .8;
    transition: .3s linear;
    border-radius: 9px;
    }

.project-img:hover:before {
    background: none;
}

.project-item .project-img:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--clr-accent-600);
    border-radius: 10px;
    top: 10%;
    left: -5%;
    z-index: -10;
    box-shadow: 
        0 0 8px var(--clr-accent-600), 
        inset 0 0 8px var(--clr-accent-600);
    transition: .6s;
}

.project-img:hover:after {
    top: 5%;
    left: -2.5%;
}

.project-item:nth-child(even) .project-img:after {
    left: 5%;
}

.project-item:nth-child(even) .project-img:hover:after {
    left: 2.5%;
}

/* education */

.timeline {
    position: relative;
}

.timeline:before{
    content: "";
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
    border-left: 2px dashed var(--clr-accent-600);
    position: absolute;
}

.timeline-item {
    margin-bottom: var(--size-700);
}

.timeline-item:nth-child(odd){
    margin-right: 50%;
    text-align: right;
}

.timeline-item:nth-child(even){
    margin-left: 50%;
}

.timeline-item:nth-child(odd) > * {
    padding-right: var(--size-600);
}

.timeline-item:nth-child(even) > * {
    padding-left: var(--size-600);
}

.timeline-item .item-title {
    padding-bottom: var(--size-400);
    border-bottom: 2px dashed var(--clr-accent-600);
}

/* contact */

.contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
.footer p {
    margin-bottom: 0;
}

.footer > * {
    color: var(--clr-accent-600);   
    display: flex;
    text-decoration: none;
    margin-right: var(--size-400);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a:hover {
    text-shadow: 0 0 10px var(--clr-accent-600);
    transition: .35s;
}

/* Utility Classes */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.button {
    font-size: var(--fs-button);
    background-color: var(--clr-bg-dark);
    color: var(--clr-accent-600);
    border: 1px solid var(--clr-accent-600);
    border-radius: 8px;
    font-family: var(--ff-button);
    text-transform: capitalize;
    padding: var(--size-200) var(--size-400);
    transition: .4s;
}

.button:hover {
    text-shadow: 1px 1px 10px var(--clr-accent-600);
    box-shadow: 0 0 8px var(--clr-accent-600), 
    inset 0 0 8px var(--clr-accent-600);
    background-color: #010f24;
}

.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-accent-600 {
    color: var(--clr-accent-600);
}

.text-accent-400 {
    color: var(--clr-accent-400);
}

.text-accent-200 {
    color: var(--clr-accent-200);
}

.text-neutral-100-30 {
    color: var(--clr-neutral-100-30);
}

.bg-dark {
    background-color: var(--clr-bg-dark);
}

.bg-light {
    background-color: var(--clr-bg-light);
}

.ff-heading,
.ff-subheading,
.ff-footer,
.ff-nav {
    font-family: var(--ff-heading);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fs-mh {
    font-size: var(--fs-1000);
}

.fs-heading {
    font-size: var(--fs-heading);
}

.fs-subheading {
    font-size: var(--fs-subheading);
}

.fs-nav {
    font-size: var(--fs-nav);
}



.container {
    --max-width: 1065px;
    --padding: 1rem;
  
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}
  
.even-columns {
    display: grid;
    gap: 1rem;
}

@media (min-width: 50em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .columns-start-2 {
        grid-column: 1/3;
    }
    .columns-end-2 {
        grid-column: 2/4;
    }
}
  